.cart-card {
  border: none;
}

.cart-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.details-wrapper {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

.cart-box .image-wrapper img {
  width: 80px;
  padding: 5px;
  height: 80px;
  object-fit: cover;
}

.edit-qty span {
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
}
.edit-qty .disabled {
  color: rgba(49, 45, 45, 0.437);
}

.details-wrapper span {
  cursor: pointer;
}
.details-wrapper span .disabled {
  cursor: default;
}

.product-item_title {
  font-size: 1.01rem;
  font-weight: 400;
  max-width: 174px;
  color: rgb(68, 68, 68);
}
.text-truncate {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space-collapse: collapse;
  overflow: hidden;
}

.form-check-input:focus{
  box-shadow: none;
}
