.hero {
  height: 100vh;
}
.header {
  background-image: linear-gradient(
      to bottom,
      rgba(15, 8, 14, 0.642) 0%,
      rgba(10, 10, 10, 0.8) 100%
    ),
    url("/src/assets/jun.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.custom-carousel {
  height: 100vh;
}
.carousel-indicators [data-bs-target] {
  background-color: #dfd6d6;
  width: 15px !important;
  border-radius: 50%;
  height: 14px !important;
}
.carousel-indicators .active {
  background-color: #000 !important;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: left;
  opacity: 0;
  transform: translateY(18%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.carousel-caption.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.carousel-title {
  font-size: 4rem !important;
}

.c-caption {
  color: black;
}

@media only screen and (max-width: 600px) {
  .header,
  .carousel-image {
    height: 60vh;
  }
  .carousel-caption {
    text-align: center;
    position: relative;
    bottom: unset;
    text-align: left;
    padding: 30px;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .header,
  .carousel-image {
    height: 60vh;
  }
  .carousel-title {
    font-size: 1rem;
  }
  .carousel-caption {
    top: 110%;
  }
  .carousel-caption {
    text-align: center;
    position: relative;
    bottom: unset;
    text-align: left;
    padding: 30px;
  }
}
