.social-section .nav-icon{
  margin: 0px 1rem;
  font-size: 1.4rem;
  font-weight: bolder;
  cursor: pointer;
}
.cart-icon .cart-count{
  position: absolute;
  bottom: 50%;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  color: white;
  background-color: black;
}

@media (max-width: 991px){
  .cart-icon .cart-count{
    bottom: 10%;
  }
}