.header{
    background-image: linear-gradient(to bottom, rgba(15, 8, 14, 0.642) 0%, rgba(10, 10, 10, 0.8) 100%),url('/src/assets/jun.jpg');
    height: 80vh;
    background-size: cover;
    background-position: center;
    
}
/* .c-caption{
  background-color: #33333384;
  padding: 1rem 0;
} */
.carousel-image{
  height: 80vh;
  filter: brightness(60%);
  object-fit: cover;
}
.nav-container{
  display: flex;
  justify-content: center;
}
.nav-link-item{
  font-weight: bold ;
  color: black ;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: black;
  /* letter-spacing: .1rem; */
}

.carousel-title{
  font-size: 2.5rem;
}
.nav-link-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #f9dd94;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-logo{
  font-family: chiller;
  font-weight: bolder;
  font-size: 2rem;
}
.hero-section{
  margin-top: 10rem;
  
  /* margin-left: 2rem !important; */
}
.hero-text{
    color: whitesmoke;  
    font-size: 3rem;
}
.hero-btn{
  width: 250px;
  border-radius: 40px;
  line-height: 14px;
  padding: 1rem;
  
  background-color: #fff;
  border: none;
  color: var(--dark);
}
.hero-btn:hover{
  background-color: #ddd;
  color: var(--dark);
}


.feature-section{
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
}
.single-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.feature-text h3,.feature-text p{
  text-align: center;
}
.product-section{
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: white;
  /* background: linear-gradient(180deg,#373795 0,#1e90bb); */
  background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.product-image{
  width: 90%;
  /* height: 90%; */
  padding: 3rem;
}
.product-details{
  margin-top: 3rem;
}
.single-product-feature{
  display: flex;
  flex-direction: row;
}
.product-img-sm{
  width: 100px;
  height: 100px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 100%;
  
}

.carousel-card{
  border: none !important;
}
.carousel-card img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: .5s all;
}
.carousel-card img:hover{
  transform: scale(1.1);

}
.discounted-price{
  text-decoration: line-through;
}

/* .react-multiple-carousel__arrow--right {
  right: 0 !important;
}
.react-multiple-carousel__arrow--left {
  left: 0 !important;
} */
.feature-product-card{
  border: none;
  /* transition: 1s all; */
  
}
.feature-product-card h1,h6{
  color: white;
  opacity: 3;
  text-align: center;
}
.feature-product-card img{
  height: 400px;
  object-fit: cover;
  filter: brightness(40%);
  transition: .5s ease-in-out;
  border-radius: 0;
}
.feature-product-card:hover img{
  height: 400px;
  object-fit: cover;
  filter: brightness(100%);
}

.feature-product-card:hover h1,.feature-product-card:hover h6{
  display: none;
}
.feature-product-card a{
  display: none;
}
.feature-product-card:hover a{
  display: inline-block;
}
.logo-image{
  width: 100%;
}
.underline{
  display: inline-block;
}
.underline::after{
  content: "";
  display: block;
  width: 30%;
  padding-top: 3px;
  border-bottom: 4px solid #f9dd94;
  
}
/* .logo-text{
  font-size: 4rem;
  font-weight: bold;
  color: #c471f5;  
} */
footer{
  background-color: #141111;
  padding: 2rem;
}
.footer h2{
  color: white;
  font-size: 2rem;
}
.footer .icon{
  margin-right: 1rem;
  color: white;
}
.footer .nav-link{
  display: flex ;
  align-items: center;
  margin: 1rem 0;
}
.icon-row a{
  margin: 0 .5rem;
  font-size: 1.5rem;
}
.facebook{
  color: #4267B2;
}
.youtube{
  color: #FF0000;
}
.instagram{
  color: #8a3ab9;
}
.twitter{
  color: #1DA1F2;
}

.contact-col{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.shadow-input {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}

.contact-image{
  width: 100%;
  object-fit: cover;
  
  filter: brightness(30%);
}
.contact-btn{

  background-color: #57b846;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 25px;
  font-weight: bold;
}
.contact-btn:hover {
  background-color: #333333;
  color: white;
}
.contact-btn:active {
  background-color: #333333;
  color: white;
}
.contact-btn:active:hover {
  background-color: #333333;
  color: white;
}
.message-btn{
  border-radius: 0;
  padding: .6rem 1rem;
  background-color: #57b846;
  border: none;
}
.contact-input{
  padding: 1rem;
  border-radius: 0;
  /* border: ; */
  font-weight: bold;
}
.form-label{
  font-weight: bold;
}
.contact-section .container{
  background-color: rgb(253, 253, 253);
  padding: 2rem;
  border-radius: 5px;
}
.image-col{
  position: relative;
  /* text-align: center; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-col .overley-text{
  position: absolute;
}
#message-text{
  width: 100%;
  padding: .5rem;
}
.contact-input:focus{
  padding: 1rem;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border-color: 3px solid #57b846 ;
  font-weight: bold;
}

/* Contact Us css */
.contact100-form-title {
  width: 100%;
  display: block;
  /* font-family: Poppins-Regular; */
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}
.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 50%;
}
.rs2-wrap-input100 {
  border-left: none;
}
.label-input100 {
  /* font-family: Poppins-Regular; */
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}
.input100 {
  display: block;
  width: 100%;
  background: 0 0;
  /* font-family: Poppins-Regular; */
  font-size: 18px;
  color: #666;
  line-height: 1.2;
  padding: 0 25px;
  border: none;
}
.input100:active,.input100:focus{
  outline: none;
}
input.input100 {
  height: 55px;
}
textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}
.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
}

/* End Contact Us css */

/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {

}
@media only screen and (max-width: 1200px){
  .product-image{
    margin-bottom: 3rem;
  }
  .img-col{
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .product-feature-text {
    text-align: center;
  }
}
@media only screen and (max-width: 600px){
  .carousel-image,.header{
    height: 40vh;
  }


}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
.carousel-image,.header{
  height: 40vh;
  
}
.carousel-title{
  font-size: 1rem;
}


}
@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px;
  }
  .contact100-more {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }
  .contact100-more {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px;
  }
  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }
  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}